/* CSS Document */

/*.expandArrow {

left: 169px;
width: 31px;
}



#login .username {

}


 .resize-font #login .expandArrow{
 left: 169px;
 }

.resize-font #login .log-btn input {min-width:115px}
.resize-font #login .username{margin-right: 7px}*/